/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/ubuntu.ttf), url(../fonts/ubuntu.woff), url(../fonts/ubuntu.woff2), url(../fonts/ubuntu.eot),
    url(../fonts/ubuntu-Bold.ttf), url(../fonts/ubuntu-Bold.woff), url(../fonts/ubuntuBold.woff2), url(../fonts/ubuntuBold.eot);
}
/*@font-face {*/
/*    font-family: Ubuntu-bold;*/

/*    src: url(../fonts/ubuntu-Bold.ttf), url(../fonts/ubuntu-Bold.woff), url(../fonts/ubuntuBold.woff2), url(../fonts/ubuntuBold.eot);*/
/*}*/
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #08060d;

}

body, body * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f6f7fb;
}

.content {
    width: 1020px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;

}

a {
    color: inherit;
    text-decoration: none;
}
header{
    background: #08060d;


}
.header-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 69px;
}
header div{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 125px;
    flex: 0 0 125px;
    max-width: 125px;
    text-align: center;
    color: #525055;
    font-size: 14px;
    text-transform: uppercase;
}
.active, header div:hover{
    color: #eaaf2c;
}
.burger{
    text-align: right;
}
.header-2{
    background: #4800fc;
    color: #fff;

}
.header-2-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 40px;
    font-size: 13px;
}
.header-2-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

}
.header-2-links div {
    padding:0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-2-act
    /*, .header-2-links div:hover */
{
    text-transform: uppercase;
    color: #4800fc;
    background: #eaaf2c;
}
.header-soc{
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.left-cont{
    margin-top: 39px;
    width: 690px;
    max-width: 100%;
    display: inline-block;
}
h2{
    font-size: 32px;
    text-align: left;
    font-weight: bold;
    color: #08060d;
    margin: 35px 0 13px 0;
}
p{
    font-weight: normal;
    line-height: 28px;
    margin: 13px 0;
}
.doc_block{
    border: 1px solid #eaaf2c;
    position: relative;
    padding:25px 65px 25px 189px;
    font-size: 13px;
}
.doc_block span{
    color: #4800fc;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
.bot_yellow{
    background: #eaaf2c;
    padding:0 15px 0 189px;
    font-weight: bold;
    min-height: 38px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.bot_yellow div{
    position: relative;
    /*flex: 0 0 100px;*/
    max-width: 100%;
}
.bot_yellow img{
    margin-bottom:-5px;
    margin-right: 3px;
}
.doc-u{
    position: absolute;
    left: 0;
    bottom: -37px;
    top: 5px;
    width: 100px;

}
.prod-u{
    left: 30px;
    top: -6px;
}
ul li{
    padding-left: 20px;
    position: relative;
    list-style: none;
}
ul li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #eaaf2c;
}
.ord_block{
    background: #eaaf2c;
    padding: 35px 30px 30px 265px;
    position: relative;
}
.bot_blue{
    background: #4800fc;
    padding:5px 5px 5px 265px;
}
.prod-u-2{
    top: 9px;
    left: 40px;
    width: 150px;

}
.ord_btn{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4800fc;
    border-radius: 50px;
    padding: 20px 40px;
    border:2px solid #4800fc;
    border-bottom: 6px solid #4800fc;
    display: inline-block;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.ord_btn:hover{
    border-bottom:2px solid #4800fc;
    border-top: 6px solid #4800fc;
}
.comment-block{
    font-size: 13px;
}
.ava{
    position: absolute;
    left: 0;
    top: 0;

}
.comm_name{
    font-size: 11px;
    font-weight: bold;
    color: #4800fc ;
    padding-bottom: 10px;

}
.comm_circle{
    margin: 0 4px;
    display: inline-block;
    background: #eaaf2c;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}
.comment{
    padding-left: 60px;
    position: relative;
    margin: 35px 0;
    text-align: left;
}
.comment a{
    font-weight: bold;
    color: #4800fc;
    text-decoration: underline;
}
.comment a:hover {
    text-decoration: none;
}
.bot_btn{
    margin: 0 auto;
}
footer{
    background: #08060d;
}
footer .content{
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    color: #525055;
}
footer img{
    margin-right: 55px;
}
.sidebar{
    width: 270px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}
h3{
    border-bottom: 5px solid #eaaf2c;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    display: block;
    line-height: 2;
}
.side_img   {
    width: 100%;
}
.side_comm{
    width: 100%;
    position: relative;
    background: #e9eef2;
    margin-bottom: 18px;
    font-size: 13px;
    padding: 15px 20px;
    margin-top: -4px;
}
.side_comm span{
    float: right;
    font-weight: bold;
    font-size: 10px;
}
.side_comm span img{
    width: 15px;
    margin-bottom: -5px;
    margin-right: 5px;
}

.scroll_fix{
    position: fixed;
    bottom: 499px;
}
.doc-m, .prod-u-2-m{
    display: none;
}

.order__form {
    width: 400px;
    max-width: 100%;
    margin: 0 auto 20px;
    text-align: center;
}
.order__form h1 {
    margin: 10px 0;
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #db0000;
    text-shadow: 1px 1px 1px #0000008c;
}
.select_arrow {
    display: block;
    position: relative;
    width: 440px;
    max-width: 90%;
    margin: 0 auto;
}
.select_arrow:after {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    width: 4px;
    height: 6px;
    content: '▼';
    color: #4800fc;
}
.order__form button {
    cursor: pointer;
}
.order__input, .order__select {
    font-size: 20px;
    width: 100%;
    padding: 15px 6%;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 2px solid #4800fc;
}
.order__input {
    width: 100%;
    padding: 15px 6%;
}
.order__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.order__select::-ms-expand {
    display: none;
}
